<!DOCTYPE html>
<html>

<head>
    <title>
        <%= pageTitle %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= pageTitle %>
    </h1>
    <p>
        <%= message %> <br>
        <%= pdfFilename %> <br>
        please check <%= pdfLocation %> <br>
    </p>
</body>

</html>